body{
  margin: 0;
}
.app {
  width: 100%;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: #050014;
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

/* .app > * {
  position: relative;
  z-index: 1;
} */

.app.loaded {
  opacity: 1;
}

.main-content {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
